.header
{
    border: 1px solid black;
    height: auto;
    padding: 5px;
    margin-bottom: 3px;
}
.panel_header
{

}
.panel_header ul
{
    margin: 0;
    padding: 0;
}
.panel_header ul li
{
    list-style: none;
    display: inline-block;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    background: -webkit-linear-gradient(top,#3A8B9B,#ffffff);
    background: -moz-linear-gradient(top,#3A8B9B,#ffffff);
    background: -ms-linear-gradient(top,#3A8B9B,#ffffff);
    background: -o-linear-gradient(top,#3A8B9B,#ffffff);
}
.img_header
{
    border: 1px solid black;
    height: 150px;
}